@model List<JDTelecomunicaciones.Models.Tickets>;
@{
    Layout = "~/Views/Shared/_LayoutTecnico.cshtml";
    var tickets = Model.ToList();

}

@section Styles{
    <link rel="stylesheet" href="~/css/listaTickets.css" asp-append-version="true" />
}

<section class="sectionContainer">
    <section class="sectionContainer_handler">
        <h1>Tareas Hechas</h1>
        <h2>Tareas realizadas con exito</h2>
        <div class="ticketHandler">
            @foreach(var ticket in tickets){
                <div class="ticketHandler_ticket">
                    <a class="ticket_DetailButton" asp-controller="Tecnico" asp-action="InformacionTicket" asp-route-idTicket="@ticket.id_ticket"><img src="~/img/lupa.png"></a>
                    <label>JDTL-@ticket.id_ticket</label>
                    <label>Fecha @ticket.fecha_ticket</label>
                    <label class="ticket_problematica">@ticket.tipoProblematica_ticket</label>
                        @if(ticket.status_ticket == "PENDIENTE"){
                        <div class="ticketStatus" style="background: #FF5A5A" >
                            <img src="~/img/pendiente.png" alt="Pendiente"/>
                        </div>

                        }else if(ticket.status_ticket == "VISTO"){
                            <div class="ticketStatus" style="background: #FFA95A" >
                                <img src="~/img/revision.png" alt="Revisado" style="background: #FFA95A" />
                            </div>
                        }else{
                            <div class="ticketStatus" style="background: #25D366">
                                <img src="~/img/listo.png" alt="Listo" />
                            </div>
                        }
                </div>
            }
        </div>
    </section>
</section>