@model List<JDTelecomunicaciones.Models.Recibos>

@{
   Layout = "~/Views/Shared/_LayoutCliente.cshtml"; 
   decimal deudaTotal = 0;
   foreach(var recibo in Model){
      deudaTotal = deudaTotal + recibo.monto_recibo; 
   }


}

@section Scripts{
   <script src="https://sdk.mercadopago.com/js/v2"></script>
   <script src="~/js/pagoRecibosIndex.js"></script>
   <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
   <df-messenger
      intent="WELCOME"
      chat-title="bot-prueba"
      agent-id="667e5e33-3d53-44da-8eb6-7e020452213e"
      language-code="es"
   ></df-messenger>
     
}

@section Styles{
   <style>
      #form-checkout {
         display: flex;
         flex-direction: column;
         max-width: 600px;
      }

      .container {
         height: 18px;
         display: inline-block;
         border: 1px solid rgb(118, 118, 118);
         border-radius: 2px;
         padding: 1px 2px;
      }

      .popUpPaymentContainer{
         display: none;
         background-color: #00000042;
         width: 100%;
         height: 100%;
         position: absolute;
         /*display: flex;*/
         align-items: center;
         justify-content: center;
      }


   </style>

   <link rel="stylesheet" href="~/css/indexCliente.css" asp-append-version="true"/>


}
<div class="popUpPaymentContainer">
   <div id="cardPaymentBrick_container">
   </div>
</div>

<section class="mainSection">
   <div class="mainSection_paymentSection">
      <div class="paymentSection_statusSection">
         <label>Estado del servicio : <strong>ACTIVO</strong></label>
         <span>¡Quedan @ViewBag.nextVoucherTime dias para que se genere un nuevo recibo!</span>
         <a href="#">Cambiar de plan</a>
      </div>

      <form class="voucherForm">
         <div class="voucherForm_ammountContainer">
            <h1>Deuda total</h1>
            <h2>S/@deudaTotal</h2>
         </div>
         
         <div class="voucherHandler">

            @foreach(var recibo in Model){
               <div class="voucherHandler_voucher">
                  <input type="checkbox" class="reciboCheckBox"/>
                  <label hidden>@recibo.idRecibo</label>
                  <label>@recibo.fecha_vencimiento</label>
                  <label>S/@recibo.monto_recibo</label>
               </div>
            }
         </div>
         <div class="voucherHandler_options">
            <button id="btnVerRecibo" type="submit">Ver recibos</button>
            <button id="btnPagarRecibo" type="submit">Pagar recibos</button>
         </div>

         <div class="voucherForm_mailSection">
            <label>Estas afiliado al recibo digital:</label>
            <label class="mailSection_mail">@ViewBag.email</label>
         </div>
      </form>

   </div>
</section>



